

.blog-post .author{

    font-weight: bold;
    font-size: 1rem;
    color: blue;
}

.blog-post > .title{

    color: blue;
}

.blog-post .title + .description{

    font-style: italic;
}

.blog-post .meta ~ .content{

    border-top: 1px solid #ccc;
    padding-top: 10px;
    background-color: aqua;
}

.footer{

    background-color: antiquewhite;
}

.footer ul{

    display: flex;
    gap: 40px;
}

ul li{

    list-style: none;
    font-size: 2em;
}